<div>
  <div>
    <h3>
      <%= l(@current_match.time, format: '%A, %d de %B %I:%M %p', locale: :es) %> - <%= @current_match.place %>
    </h3>
    <%= link_to 'Sortear grupos', match_shuffles_url(@current_match) %>
  </div>

  <ol>
    <% @players.each do |player| %>
      <li><%= player.full_name %></li>
    <% end  %>
  </ol>

  <%= form_with model: @new_player do |form| %>
    <%= form.hidden_field :match_id, value: @current_match.id %>
    <%= form.text_field :full_name, placeholder: 'Ingresa tu nombre', required: true %>

    <%= form.submit 'go' %>
  <% end %>
</div>
