<div>
  <div>
    <%= I18n.l(@current_match.time, format: '%A, %d de %B %I:%M %p') %> - <%= @current_match.place %>
  </div>

  <ol>
    <% @players.each do |player| %>
      <li><%= player.full_name %></li>
    <% end  %>
  </ol>

  <%= form_with model: @new_player do |form| %>
    <%= form.hidden_field :match_id, value: @current_match.id %>
    <%= form.text_field :full_name, placeholder: 'Ingresa tu nombre' %>

    <%= form.submit 'go' %>
  <% end %>
</div>
