<div>
  <h3 class="text-sm font-light flex justify-center">
    <%= l(@current_match.time, format: '%A, %d de %B %I:%M %p', locale: :es) %> - <%= @current_match.place %>
  </h3>
  <div class="bg-green-700 hover:bg-green-800 text-white px-3 py-2 my-4 rounded-md text-sm font-medium text-center">
    <%= link_to 'Sortear equipos', match_shuffles_url(@current_match) %>
  </div>

  <ol class="border border-gray-300 rounded-md divide-y divide-gray-300">
    <% @players.each do |player| %>
      <li class="py-2 flex items-center">
        <span class="ml-5 text-xs md:text-sm truncate"> <%= player.full_name %> </span>
      </li>
    <% end  %>
  </ol>

  <div class="mt-6">
    <%= form_with model: @new_player do |form| %>
      <div class="flex">
        <%= form.hidden_field :match_id, value: @current_match.id %>
        <%= form.text_field :full_name, placeholder: 'Ingresa tu nombre' %>
        <button type="button" class="ml-1 px-3 py-1 border border-transparent text-sm md:text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
          <%= form.submit 'Go' %>
        </button>
      </div>
    <% end %>
  </div>
</div>
